@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&family=Montserrat:wght@700;900&family=Poppins:wght@300;500;600&display=swap');


/*  Variable  */
:root{
    --primary-color: #00e0ff;
    --secondary-black: #0d081a;
    --secondary-gray: #48464b;
    --body-bg: #e8ffe8;
}

/*  Global Styles  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}
body{
    background-color: var(--body-bg);
}
img{
    width: 100%;
    height: 100%;
}
a{
    color: black;
    text-decoration: none;
}
p{
    font-size: 1.6rem;
    color: var(--secondary-black);
}
#section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}
.primary-btn{
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.8rem;
    padding: .6em 1.6em;
    border-radius: 50px;
}
.buttons{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}
.buttons svg{
    width: 50px;
    color: var(--primary-color);
}
.section-heading{
    font-size: clamp(2rem, 10vw, 8rem);
    text-transform: uppercase;
    font-family: 'Monserrat', sans-serif;
    letter-spacing: 0.2rem;
    text-align: center;
    position: relative;
    margin-bottom: 10rem;
}
.section-heading::before{
    content: attr(data-outline);
    position: absolute;
    left: 2%;
    top: -20%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2rem;
    color: transparent;
    -webkit-text-stroke: 1.5px #00e0ff;
    z-index: -1;
}
.buttons .primary-btn.outline{
    background-color: transparent;
    color: var(--primary-color);
    border-radius: 50px;
    border: 2px solid var(--primary-color);
}






/*  Hero Section  */
.hero{
    height: 100vh;
    width: 100%;
    padding-top: 10rem;
}
.hero .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .container .left{
    flex: 6;
}
.hero .container .right{
    flex: 8;
}
.hero .left .subheading{
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--primary-color);
    opacity: 0;
    animation: fade .3s ease-in forwards;
    animation-delay: 1s;
}
.hero .left .heading{
    font-size: 6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.hero .left .heading .wrapper{
    display: inline-block;
    overflow: hidden;
}
.hero .left .heading .wrapper span{
    position: relative;
    bottom: -70px;
    animation: reveal 1s ease forwards;
}
@keyframes reveal{
    0%{
        bottom: -70px;
    }
    100%{
        bottom: 0;
    }
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.hero .left .desc{
    margin-top: 2.5rem;
    max-width: 400px;
    opacity: 0;
    animation: fade .3s ease-in forwards;
    animation-delay: 1s;
}
.hero .left .buttons{
    opacity: 0;
    animation: fade .3s ease-in forwards;
    animation-delay: 1s;
}
.hero .left .buttons .primary-btn{
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.8rem;
    padding: .6em 1.6em;
    border-radius: 50px;
}
.hero .right{
    text-align: right;
}
.hero .right img{
    width: 100%;
    max-width: 450px;
    height: 550px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 12px;
}
@media only screen and (max-width: 768px){
    html{
        font-size: 9px;
    }
    .hero .container{
        flex-direction: column-reverse;
    }
    .hero .container .right{
        text-align: center;
        flex: 1;
        margin-bottom: 2rem;
    }
    .hero .container .right img{
        width: 100%;
        height: 400px;
    }
    .hero .container .left{
        text-align: center;
        padding-right: 0;
        flex: 1;
        height: fit-content;
    }
    .hero .left .buttons{
        justify-content: center;
    }
    .hero .container .left .heading{
        font-size: 4rem;
        margin: 0 auto;
    }
    .hero .container .left .desc{
        margin: 0 auto;
        margin-top: 2rem;
    }
}
@media only screen and (max-width: 950px){
    .hero .container .right{
        flex: 6;
    }
}

/*- About Section-*/
.about{
    padding: 15rem 0;
}
.about .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.about .left{
    padding: 2rem;
    text-align: center;
}
.about .left .card{
    box-shadow: 0px 0px 20px #4705fc33;
    padding: 3rem;
    border-radius: 12px;
    min-height: 400px;
}
.about .left .card .img{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 2rem;
}
.about .left .card .img img{
    object-fit: cover;
}
.about .left .card .card-desc{
    color: var(--secondary-gray);
    margin-bottom: 2rem;
}
.about .left .card .card-name{
    font-size: 2rem;
    margin-bottom: 0.2rem;
}
.about .left .card .card-sub-title{
    font-size: 1.4rem;
}
.about .subheading{
    color: var(--primary-color);
    margin-bottom: 1rem;
}
.about .right .slogan{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.about .right .right-text{
    color: var(--secondary-gray);
}
@media only screen and (max-width: 768px){
    .about .wrapper{
        flex-direction: column-reverse;
        text-align: center;
    }
    .about .right .buttons{
        flex-direction: column;
    }
    .about .right .buttons a{
        width: 100%;
        text-align: center;
    }
}

/*Project Section*/
.project{
    padding: 10rem 0;
}
.project .item{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 15rem;
}
.project .item:nth-child(even){
    flex-direction: row-reverse;
}
.project .item .left{
    flex: 1;
}
.project .item .right{
    flex: 1;
    margin-left: -150px;
    background-color: var(--body-bg);
    padding: 5rem 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px #00000028;
    z-index: 2;
}
.project .item:nth-child(even) .right{
    margin-left: 0;
}
.project .item:nth-child(even) .left{
    margin-left: -150px;
}
.project .item .left .img{
    height: 500px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 0px 20px #00e0ff;
    position: relative;
}
.project .item .left .img::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #00ffee46;
}
.project .item .left .img img{
    object-fit: cover;
    transition: .3s ease transform;
}
.project .item:hover .left .img img{
    transform: scale(1.1);
    z-index: 1;
}
.project .item .right .project-title{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
}
.project .item .right .project-sub-title{
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.project .item .right .project-desc{
    color: var(--secondary-gray);
    margin-bottom: 3rem;
}
.project .item .right .buttons .external-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: calc(0.6em - 4px) calc(1.6em - 4px);
}
.project .item .right .buttons .external-link svg{
    width: 25px;
}
@media only screen and (max-width: 768px){
    .project .item{
        flex-direction: column;
    }
    .project .item .left{
        width: 100%;
    }
    .project .item .right{
        width: 90%;
        margin-left: 0;
        margin-top: -150px;
    }
    .project .item:nth-child(even){
        flex-direction: column;
    }
    .project .item:nth-child(even) .left{
        margin-left: 0;
    }
}
@media only screen and (max-width: 450px){
    .project .item .right .buttons{
        flex-direction: column;
    }
    .project .item .right .buttons a{
        width: 100%;
        text-align: center;
    }

}
/*Footer Style*/
.footer{
    background-color: #5cdcf0;
    color: white;
    padding: 10rem 0 5rem 0;
}
.footer footer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
.footer footer .col-1{
    flex: 3;
}
.footer footer .col-2,
.footer footer .col-3{
    flex: 2;
}
.footer footer .col-4{
    padding-left: 2rem;
    flex: 1;
}
.footer footer .col-1 .logo img{
    max-width: 100px;
    margin-bottom: 2rem;
}
.footer footer .col-1 p{
    color: white;
}
.footer footer .column-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.5em;
}
.footer footer ul{
    list-style: none;
}
.footer footer ul li{
    border-radius: 4px;
}
.footer footer ul li a{
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 1.7rem;
    padding: 0.5rem;
}
.footer footer ul li:hover a{
    color: var(--secondary-gray);
}
.footer footer ul li:hover{
    background-color: white;
}
.footer footer .col-4 ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.footer footer .col-4 ul li a{
    min-width: 50px;
}
@media only screen and (max-width:768px){
    .footer footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer footer .col-1,
    .footer footer .col-2,
    .footer footer .col-3,
    .footer footer .col-4{
        width: 100%;
        margin-bottom: 3rem;
    }
    .footer footer .col-4 ul{
        width: fit-content;
        margin: 0 auto;
    }
}
/*Copyright Style*/
.copyright{
    padding: 1rem 0;
    background-color: #01282e;
    text-align: center;
}
.copyright p{
    color: white;
    margin: 1rem;
    font-size: 1.4rem;
}
@media only screen and (max-width:768px){
    .copyright p{
        text-align: center;
    }
}